<a href="https://colab.research.google.com/github/charitha0606/-assignment-python/blob/master/python01_09.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

->user input in python | command line input

In [1]:
x=int(input("enter first number"))
y=int(input("enter second number"))
z=x+y
print(z)

enter first number12
enter second number12
24

In [5]:
ch=input('enter a char:')
print(ch)

enter a char:hi
hi

In [7]:
a=eval(input('enter the number'))
print(a)

enter the number3+5
8

->if elif statements in python

In [14]:
x=9
a=x%2
if a==0:
  print('even')
else:
  print('odd')

odd

In [18]:
#nested if
x=10
a=x%2
if a==0:
  print('even')
  if x>8:
   print('greater')
  else:
    print('not greater')
else:
  print('odd')

even
greater

In [21]:
#elif
a=5
if a==1:
  print('one')
elif a==2:
  print('two')
elif a==3:
  print('three') 
elif a==4:
  print('four')     
else:
  print('not found')

not found

->while loop in python

In [33]:
i=7
while i>=2:
  print('hi',i)
  i=i-1

hi 7
hi 6
hi 5
hi 4
hi 3
hi 2

In [54]:
i=1
while i<=2:
  print("hi",end=" ")
  j=1
  while j<=4:
    print("dear",end=" ")
    j=j+1
  i=i+1
  print()

hi dear dear dear dear
hi dear dear dear dear

In [55]:
i=1
while i<=4:
  print("#",end=" ")
  j=1
  while j<=4:
    print("#",end=" ")
    j=j+1
  i=i+1
  print()

# # # # #
# # # # #
# # # # #
# # # # #

In [81]:
i=1
a=1
while i<=100:
  if a%3==0 and a%5==0:
    a=a+1
  else:
      print(a)
      a=a+1
  i=i+1

1
2
3
4
5
6
7
8
9
10
11
12
13
14
16
17
18
19
20
21
22
23
24
25
26
27
28
29
31
32
33
34
35
36
37
38
39
40
41
42
43
44
46
47
48
49
50
51
52
53
54
55
56
57
58
59
61
62
63
64
65
66
67
68
69
70
71
72
73
74
76
77
78
79
80
81
82
83
84
85
86
87
88
89
91
92
93
94
95
96
97
98
99
100

->for loop in python

In [82]:
for i in range(1,20,3):
  print(i)

1
4
7
10
13
16
19

In [85]:
for i in range(20,10,-1):
  print(i)

20
19
18
17
16
15
14
13
12
11

In [83]:
x=['charitha',19,'female']
for i in x:
  print(i)

charitha
19
female

In [88]:
for i in range(1,21):
  print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

In [94]:
for i in range(1,11):
  if(i%2!=0):
   print(i)

1
3
5
7
9

->break, continue,pass in python

In [101]:
average=4
x=int(input('how many apples do you want'))
i=1
while(i<=x):
   if(i>average):
     break
   print('apple')
   i=i+1
print('bye')

how many apples do you want9
apple
apple
apple
apple
bye

In [107]:
for i in range(1,21):
  if (i%2!=0):
    pass
  else:
    print(i)

2
4
6
8
10
12
14
16
18
20

In [109]:
for i in range(1,50):
  if i%3==0 and i%5==0:
    continue
  print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
16
17
18
19
20
21
22
23
24
25
26
27
28
29
31
32
33
34
35
36
37
38
39
40
41
42
43
44
46
47
48
49

In [115]:
for i in range(5):
 if i==3:
   continue
 print('hello',i)

hello 0
hello 1
hello 2
hello 4

In [116]:
for i in range(5):
 print('hello',i)

hello 0
hello 1
hello 2
hello 3
hello 4

In [117]:
for i in range(5):
 if i==3:
   break
 print('hello',i)

hello 0
hello 1
hello 2

->printing patterns in python

In [121]:
for i in range(4):
  for j in range(5):
    print('#',end='')
  print()

#####
#####
#####
#####

In [127]:
for i in range(4):
  for j in range(i+1):
    print('#',end='')
  print()


for i in range(4):
  for j in range(4-i):
    print('#',end='')
  print()

#
##
###
####
####
###
##
#

->for else in python

In [154]:
a=[5,6,7,8]
for num in a:
  if num%5==0:
    print(num)
else:
  print('not found')

5
not found

In [166]:
num=8
for i in range(2,num):
  if num%1==0:
   print('not prime')
   break
else:
  print('prime')

not prime

->array in python

In [169]:
from array import*
x=array("i",[1,2,3,4])
print(x)

array('i', [1, 2, 3, 4])

In [172]:
from array import*
x=array("b",[1,2])
print(x.buffer_info())

(139705324112960, 2)

In [174]:
from array import*
x=array("f",[1.5,2.5,3.5])
print(x)
print(x.buffer_info())

array('f', [1.5, 2.5, 3.5])
(139705324113152, 3)

In [178]:
from array import*
arr=array('i',[])
x=int(input('enter the length of array'))
for i in range(x):
  y=int(input('enter the number'))
  arr.append(y)
print(arr)

enter the length of array4
enter the number1
enter the number2
enter the number3
enter the number4
array('i', [1, 2, 3, 4])

In [183]:
from array import*
arr=array('i',[])
x=int(input('enter the length of array'))
for i in range(x):
  y=int(input('enter the number'))
  arr.append(y)
print(arr)
vals=int(input('enter the value for search'))
k=0
for e in arr:
  if e==vals:
    print(k)
    break
  k=k+1
print(arr.index(vals))

enter the length of array4
enter the number1
enter the number2
enter the number3
enter the number4
array('i', [1, 2, 3, 4])
enter the value for search4
3
3