<a href="https://colab.research.google.com/github/charitha0606/-assignment-python/blob/master/python13_09.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

->functions in python

In [5]:
def greet():
 a=('hi')
 b=('dear')
 print(a)
 print(b)


greet()

hi
dear

In [6]:
def add():
  a=4
  b=5
  c=a+b
  print(c)
add()

9

->function argument in python

In [9]:
def update(x):
  x=4
  print(x)
update(9)

4

In [13]:
def update(x):
  x=4
  print(x)
a=9
update(a)
print(a)

4
9

In [15]:
def update(lst):
  print(id(lst))
  lst[1]=20
  print(id(lst))
  print('x',lst)
lst=[1,2,3]
print(id(lst))
update(lst)
print("lst",lst)

140441619573808
140441619573808
140441619573808
x [1, 20, 3]
lst [1, 20, 3]

->types of arguments in python

In [17]:
def add(a,b):
  c=a+b
  print(c)
add(5,6)

11

In [18]:
#position
def person(name,age):
  print(name)
  print(age)
person("charitha",19)

charitha
19

In [19]:
#position
def person(name,age):
  print(name)
  print(age)
person(19,"charitha")

19
charitha

In [20]:
#keyword argument
def person(name,age):
  print(name)
  print(age)
person(age=19,name="charitha")

charitha
19

In [22]:
#default argument
def person(name,age=19):
  print(name)
  print(age)
person("charitha",20)

charitha
20

In [26]:
#variable length
def sum(a,   *b):
  c=a
  for i in b:
    c=c+i
  print(c)
sum(5,10,20,40)

75

->keyworded variable length argument in python

In [27]:
def person(a, **b):
  print(a)
  print(b)
person("charitha",age=19,gender="female",mobno=143)

charitha
{'age': 19, 'gender': 'female', 'mobno': 143}

In [31]:
def person(a,**b):
  print(a)
  print(b)
  for i,j in b.items():
   print(i,j)
person("charitha",age=19,edu="btech",city="banglore")

charitha
{'age': 19, 'edu': 'btech', 'city': 'banglore'}
age 19
edu btech
city banglore